<header>
  <div id="tituloContainer">
    <img src="./../assets/img/pokeball azul.svg" />
    <h1>Pokédex</h1>
    <img src="./../assets/img/pokeball azul.svg" />
  </div>
  <img src="./../assets/img/Inteli.png" />
</header>
<router-outlet />
<footer>
  <p><a href="https://docs.google.com/presentation/d/17xkO-kZpiOzlh2NftZuHh4-TDNzQWvA-/edit?usp=sharing&ouid=102078777123432719472&rtpof=true&sd=true" target="_blank">S04.Os princípios da construção de Single-Page Applications (SPAs).PPTX</a></p>
</footer>
